<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.hd_backend.mapper.AdministratorMapper">

    <select id="selectByPrimaryKey" resultType="com.hd.hd_backend.entity.Administrator">
        SELECT * FROM administrator WHERE admin_id=#{id}
    </select>

    <select id="selectByName"  resultType="com.hd.hd_backend.entity.Administrator">
        SELECT * FROM administrator WHERE name = #{name}
    </select>


</mapper>